Notification {
    color: #ffffff;
    border: 1px solid #909090;
    border-radius: 3px;
    background: #edeceb;
    margin: 0px;
}

QLabel {
    color: #000000;
}

#closeButton {
    border: none;
    qproperty-icon: url(lxqt-notificationd/cancel.svg);
}

#closeButton:hover {
    border: 1px solid #909090;
    border-radius: 3px;
    background: #ffffff;
    qproperty-icon: url(lxqt-notificationd/cancel.svg);
}

#appLabel {
    font-weight: bold;
}
