/*This is a port of the design proposal for Plasma Next made by the KDE Visual Design Group. Ported by Inti Alonso.*/

/*
 * General panel settings
 */

LXQtPanel #BackgroundWidget {
    background: rgba(240, 240, 240, 100%);
}

QToolTip {
    border-radius: 4px;
    border: 1px solid rgba(155, 155, 155, 100%);
    background: rgba(240, 240, 240, 100%);
    padding: 2px;
    margin: 0px;
    color: #313639;
}

/*
 * General plugins settings
 */

Plugin,
LXQtPanelPlugin {
    padding: 0;
    spacing: 20px;
    qproperty-moveMarkerColor: rgba(30, 145, 255, 50%);
}

Plugin > QWidget,
Plugin > QWidget > QWidget {
    color: #313639;
}

Plugin > QToolButton,
Plugin > QWidget > QToolButton,
Plugin > QWidget > QToolButton > QWidget > QToolButton,
LXQtPanelPlugin > QToolButton {
    margin: 0;
    border: 1px solid transparent;
    qproperty-iconSize: 24px;
    color: #313639;
}

QMenu {
    border: 1px solid rgba(155, 155, 155, 100%);
    background: rgba(240, 240, 240, 100%);
    margin: 0px;
    color: #313639;
}

QMenu QToolButton {
    background-color: transparent;
    color: black;
    font: bold;
    /* padding and border guarantee that it won't be drawn by widget style */
    padding: 1px;
    border: none;
    font: bold;
}

QMenu::item {
    color: #313639;
}

QMenu::item:disabled {
    color: rgb(160, 160, 160);
}

QMenu::item:selected {
    background: rgba(30, 145, 255, 50%);
    color: #313639;
}

QMenu::item:selected:disabled {
    color: rgb(160, 160, 160);
    background: rgb(240, 240, 240);
}

QMenu::right-arrow {
    image: url(right-arrow.svg);
}

QMenu::indicator {
    width: 14px;
    height: 14px;
    background-color: transparent;
}

QMenu::indicator:non-exclusive:unchecked {
    image: url(/unchecked.svg);
}

QMenu::indicator:non-exclusive:checked {
    image: url(checked.svg);
}

QToolButton { /*background: green;*/ }

/*
 * Main menu
 */

#MainMenu {
    qproperty-icon: url(mainmenu.svg);
    color: rgba(54, 54, 54, 100%);
}

LXQtPanel[position="Bottom"] #MainMenu,
LXQtPanel[position="Top"] #MainMenu {
    margin: 3px 2px;
}

LXQtPanel[position="Left"] #MainMenu,
LXQtPanel[position="Right"] #MainMenu{
    margin: 2px 3px;
}

LXQtPanel[position="Bottom"] #MainMenu {
    border-top: 3px solid transparent;
}

LXQtPanel[position="Bottom"] #MainMenu:hover {
    border-top: 3px solid rgba(30, 145, 255, 50%);
}

LXQtPanel[position="Top"] #MainMenu {
    border-bottom: 3px solid transparent;
}

LXQtPanel[position="Top"] #MainMenu:hover {
    border-bottom: 3px solid rgba(30, 145, 255, 50%);
}

LXQtPanel[position="Left"] #MainMenu {
    border-right: 3px solid transparent;
}

LXQtPanel[position="Left"] #MainMenu:hover {
    border-right: 3px solid rgba(30, 145, 255, 50%);
}

LXQtPanel[position="Right"] #MainMenu {
    border-left: 3px solid transparent;
}

LXQtPanel[position="Right"] #MainMenu:hover {
    border-left: 3px solid rgba(30, 145, 255, 50%);
}

#MainMenu QLineEdit {
    color: #000000;
    background: #f0f0f0;
    border: 1px solid #9b9b9b;
    border-radius: 0px;
    padding: 3px;
    selection-color: #eee;
    selection-background-color: #1e91ff;
}

#MainMenu QLineEdit:focus {
    border: 1px solid #1e91ff;
}

#MainMenu ActionView {
    background: #f0f0f0;
    border: 1px solid #9b9b9b;
    color: #313639;
}

#MainMenu ActionView::item {
    border: 1px solid transparent;
    color: #313639;
}

#MainMenu ActionView::item:hover {
    background: rgba(30, 145, 255, 10%);
    color: #313639;
}

#MainMenu ActionView::item:selected {
    background: rgba(30, 145, 255, 50%);
    color: #313639;
}

/*
 * DirectoryMenu
 */
LXQtPanel[position="Bottom"] #DirectoryMenu,
LXQtPanel[position="Top"] #DirectoryMenu {
    margin: 3px 2px;
	padding: 0 2px;
}

LXQtPanel[position="Left"] #DirectoryMenu,
LXQtPanel[position="Right"] #DirectoryMenu {
    margin: 2px 3px;
	padding: 2px 0;
}

LXQtPanel[position="Bottom"] #DirectoryMenu {
    border-top: 3px solid transparent;
}

LXQtPanel[position="Bottom"] #DirectoryMenu:hover {
    border-top: 3px solid rgba(30, 145, 255, 50%);
}

LXQtPanel[position="Top"] #DirectoryMenu {
    border-bottom: 3px solid transparent;
}

LXQtPanel[position="Top"] #DirectoryMenu:hover {
    border-bottom: 3px solid rgba(30, 145, 255, 50%);
}

LXQtPanel[position="Left"] #DirectoryMenu {
    border-right: 3px solid transparent;
}

LXQtPanel[position="Left"] #DirectoryMenu:hover {
    border-right: 3px solid rgba(30, 145, 255, 50%);
}

LXQtPanel[position="Right"] #DirectoryMenu {
    border-left: 3px solid transparent;
}

LXQtPanel[position="Right"] #DirectoryMenu:hover {
    border-left: 3px solid rgba(30, 145, 255, 50%);
}

/*
 * Backlight
 */
LXQtPanel[position="Bottom"] #Backlight,
LXQtPanel[position="Top"] #Backlight {
	margin: 3px 2px;
	padding: 3px 0;
}

LXQtPanel[position="Left"] #Backlight,
LXQtPanel[position="Right"] #Backlight {
	margin: 2px 3px;
	padding: 0 3px;
}

LXQtPanel[position="Bottom"] #Backlight {
    border-top: 3px solid transparent;
}

LXQtPanel[position="Bottom"] #Backlight:hover {
    border-top: 3px solid rgba(30, 145, 255, 50%);
}

LXQtPanel[position="Top"] #Backlight {
    border-bottom: 3px solid transparent;
}

LXQtPanel[position="Top"] #Backlight:hover {
    border-bottom: 3px solid rgba(30, 145, 255, 50%);
}

LXQtPanel[position="Left"] #Backlight {
    border-right: 3px solid transparent;
}

LXQtPanel[position="Left"] #Backlight:hover {
    border-right: 3px solid rgba(30, 145, 255, 50%);
}

LXQtPanel[position="Right"] #Backlight {
    border-left: 3px solid transparent;
}

LXQtPanel[position="Right"] #Backlight:hover {
    border-left: 3px solid rgba(30, 145, 255, 50%);
}

/*
 * Sensors
 */
#Sensors {
    margin: 3px;
}

/*
 * TaskBar
 */
#TaskBar QToolButton {
    color: rgba(54, 54, 54, 60%);
	margin: 3px 2px;
}

LXQtPanel[position="Top"] #TaskBar QToolButton,
LXQtPanel[position="Left"] #TaskBar QToolButton,
LXQtPanel[position="Right"] #TaskBar QToolButton {
	margin: 1px 2px;
}

#TaskBar QToolButton:on {
    color: rgba(54, 54, 54, 100%);
}

#TaskBar QToolButton:hover {
    color: rgba(54, 54, 54, 100%);
}

#TaskBar QToolButton[urgent="true"] {
    color: palette(highlighted-text);
    background: palette(highlight);
}

#TaskBar LXQtGroupPopup {
    background: rgba(240, 240, 240, 100%);
    border: 1px solid rgba(30, 145, 255, 100%);
}

LXQtPanel[position="Left"] #TaskBar QToolButton,
LXQtPanel[position="Top"] #TaskBar QToolButton {
    border-bottom: 3px solid #DEDEDE;
}

LXQtPanel[position="Left"] #TaskBar QToolButton:on,
LXQtPanel[position="Top"] #TaskBar QToolButton:on {
    border-bottom: 3px solid rgba(30, 145, 255, 100%);
}

LXQtPanel[position="Left"] #TaskBar QToolButton:hover,
LXQtPanel[position="Top"] #TaskBar QToolButton:hover {
    border-bottom: 3px solid rgba(30, 145, 255, 50%);
}

LXQtPanel[position="Right"] #TaskBar QToolButton,
LXQtPanel[position="Bottom"] #TaskBar QToolButton {
    border-top: 3px solid #DEDEDE;
}

LXQtPanel[position="Right"] #TaskBar QToolButton:on,
LXQtPanel[position="Bottom"] #TaskBar QToolButton:on {
    border-top: 3px solid rgba(30, 145, 255, 100%);
}

LXQtPanel[position="Right"] #TaskBar QToolButton:hover,
LXQtPanel[position="Bottom"] #TaskBar QToolButton:hover {
    border-top: 3px solid rgba(30, 145, 255, 50%);
}

/*
 * QuickLaunch
 */
#QuickLaunchPlaceHolder {
    color: #1e91ff;
    padding: 0 5px;
}

#QuickLaunch QToolButton {
    color: rgba(54, 54, 54, 60%);
}

#QuickLaunch QToolButton:hover {
    color: rgba(54, 54, 54, 100%);
}

LXQtPanel[position="Bottom"] #QuickLaunch QToolButton,
LXQtPanel[position="Top"] #QuickLaunch QToolButton {
    margin: 3px 2px;
}

LXQtPanel[position="Left"] #QuickLaunch QToolButton,
LXQtPanel[position="Right"] #QuickLaunch QToolButton {
    margin: 2px 3px;
}

LXQtPanel[position="Bottom"] #QuickLaunch QToolButton {
    border-top: 3px solid transparent;
}

LXQtPanel[position="Bottom"] #QuickLaunch QToolButton:hover {
    border-top: 3px solid rgba(30, 145, 255, 50%);
}

LXQtPanel[position="Top"] #QuickLaunch QToolButton {
    border-bottom: 3px solid transparent;
}

LXQtPanel[position="Top"] #QuickLaunch QToolButton:hover {
    border-bottom: 3px solid rgba(30, 145, 255, 50%);
}

LXQtPanel[position="Left"] #QuickLaunch QToolButton {
    border-right: 3px solid transparent;
}

LXQtPanel[position="Left"] #QuickLaunch QToolButton:hover {
    border-right: 3px solid rgba(30, 145, 255, 50%);
}

LXQtPanel[position="Right"] #QuickLaunch QToolButton {
    border-left: 3px solid transparent;
}

LXQtPanel[position="Right"] #QuickLaunch QToolButton:hover {
    border-left: 3px solid rgba(30, 145, 255, 50%);
}

/*
 * Volume plugin
 */
#VolumePlugin QToolButton {
    color: rgba(54, 54, 54, 60%);
}

LXQtPanel[position="Bottom"] #VolumePlugin QToolButton,
LXQtPanel[position="Top"] #VolumePlugin QToolButton {
    margin: 3px 2px;
}

LXQtPanel[position="Left"] #VolumePlugin QToolButton,
LXQtPanel[position="Right"] #VolumePlugin QToolButton {
    margin: 2px 3px;
}

LXQtPanel[position="Bottom"] #VolumePlugin QToolButton {
    border-top: 3px solid transparent;
}

LXQtPanel[position="Bottom"] #VolumePlugin QToolButton:hover {
    border-top: 3px solid rgba(30, 145, 255, 50%);
}

LXQtPanel[position="Top"] #VolumePlugin QToolButton {
    border-bottom: 3px solid transparent;
}

LXQtPanel[position="Top"] #VolumePlugin QToolButton:hover {
    border-bottom: 3px solid rgba(30, 145, 255, 50%);
}

LXQtPanel[position="Left"] #VolumePlugin QToolButton {
    border-right: 3px solid transparent;
}

LXQtPanel[position="Left"] #VolumePlugin QToolButton:hover {
    border-right: 3px solid rgba(30, 145, 255, 50%);
}

LXQtPanel[position="Right"] #VolumePlugin QToolButton {
    border-left: 3px solid transparent;
}

LXQtPanel[position="Right"] #VolumePlugin QToolButton:hover {
    border-left: 3px solid rgba(30, 145, 255, 50%);
}

VolumePopup {
    border: 1px solid rgba(155, 155, 155, 100%);
    background: rgba(240, 240, 240, 100%);
    padding: 4px;
}

VolumePopup > QPushButton {
    color: rgba(54, 54, 54, 60%);
    background: rgba(30, 145, 255, 30%);
    padding: 2px 10px;
    margin: 3px;
    border-radius: 4px;
    qproperty-iconSize: 24px;
}

VolumePopup > QPushButton:hover {
    color: rgba(54, 54, 54, 100%);
    background: rgba(30, 145, 255, 30%);
    border: 1px solid rgba(30, 145, 255, 100%);
}

VolumePopup > QSlider {
    margin-top: 4px;
}

VolumePopup > QSlider::groove:vertical {
    background: rgba(155, 155, 155, 50%);
    width: 8px;
    border-radius: 3px;
}

VolumePopup > QSlider::handle:vertical {
    height: 10px;
    width: 10px;
    background: rgba(240, 240, 240, 100%);
    border-radius: 5px;
    border: 1px solid rgba(54, 54, 54, 100%);
    margin: 0 -4px; /* expand outside the groove */
}

VolumePopup > QSlider::add-page:vertical {
    background: rgba(30, 145, 255, 100%);
    border: 1px solid rgba(155, 155, 155, 100%);
    border-radius: 3px;

}

VolumePopup > QSlider::sub-page:vertical {
    border: 1px solid rgba(155, 155, 155, 100%);
    border-radius: 3px;
}

/*
 * Desktop switcher
 */
LXQtPanel[position="Bottom"] #DesktopSwitch QToolButton,
LXQtPanel[position="Top"] #DesktopSwitch QToolButton {
    margin: 3px 2px;
}

LXQtPanel[position="Left"] #DesktopSwitch QToolButton,
LXQtPanel[position="Right"] #DesktopSwitch QToolButton {
    margin: 2px 3px;
}

#DesktopSwitch QToolButton {
    color: rgba(54, 54, 54, 60%);
}

#DesktopSwitch QToolButton:hover {
    color: rgba(54, 54, 54, 100%);
}

#DesktopSwitch QToolButton:on {
    color: rgba(54, 54, 54, 100%);
}

#DesktopSwitch QToolButton[urgent="true"] {
    color: palette(highlighted-text);
    background: palette(highlight);
}

LXQtPanel[position="Bottom"] #DesktopSwitch QToolButton {
    border-top: 3px solid transparent;
}

LXQtPanel[position="Bottom"] #DesktopSwitch QToolButton:hover {
    border-top: 3px solid rgba(30, 145, 255, 50%);
}

LXQtPanel[position="Bottom"] #DesktopSwitch QToolButton:on {
    border-top: 3px solid rgba(30, 145, 255, 100%);
}

LXQtPanel[position="Top"] #DesktopSwitch QToolButton {
    border-bottom: 3px solid transparent;
}

LXQtPanel[position="Top"] #DesktopSwitch QToolButton:hover {
    border-bottom: 3px solid rgba(30, 145, 255, 50%);
}

LXQtPanel[position="Top"] #DesktopSwitch QToolButton:on {
    border-bottom: 3px solid rgba(30, 145, 255, 100%);
}

LXQtPanel[position="Left"] #DesktopSwitch QToolButton {
    border-right: 3px solid transparent;
}

LXQtPanel[position="Left"] #DesktopSwitch QToolButton:hover {
    border-right: 3px solid rgba(30, 145, 255, 50%);
}

LXQtPanel[position="Left"] #DesktopSwitch QToolButton:on {
    border-right: 3px solid rgba(30, 145, 255, 100%);
}

LXQtPanel[position="Right"] #DesktopSwitch QToolButton {
    border-left: 3px solid transparent;
}

LXQtPanel[position="Right"] #DesktopSwitch QToolButton:hover {
    border-left: 3px solid rgba(30, 145, 255, 50%);
}

LXQtPanel[position="Right"] #DesktopSwitch QToolButton:on {
    border-left: 3px solid rgba(30, 145, 255, 100%);
}

/*
 * Mount plugin
 */
#LXQtMountPlugin QToolButton {
    color: rgba(54, 54, 54, 60%);
}

#LXQtMountPlugin QToolButton:hover {
    color: rgba(54, 54, 54, 100%);
}

LXQtPanel[position="Bottom"] #LXQtMountPlugin QToolButton {
    margin: 3px 2px;
}

LXQtPanel[position="Top"] #LXQtMountPlugin QToolButton {
    margin: 1px/*bug*/ 2px;
}

LXQtPanel[position="Left"] #LXQtMountPlugin QToolButton,
LXQtPanel[position="Right"] #LXQtMountPlugin QToolButton {
    margin: 2px 3px;
}

LXQtPanel[position="Bottom"] #LXQtMountPlugin QToolButton {
    border-top: 3px solid transparent;
}

LXQtPanel[position="Bottom"] #LXQtMountPlugin QToolButton:hover {
    border-top: 3px solid rgba(30, 145, 255, 50%);
}

LXQtPanel[position="Top"] #LXQtMountPlugin QToolButton {
    border-bottom: 3px solid transparent;
}

LXQtPanel[position="Top"] #LXQtMountPlugin QToolButton:hover {
    border-bottom: 3px solid rgba(30, 145, 255, 50%);
}

LXQtPanel[position="Left"] #LXQtMountPlugin QToolButton {
    border-right: 3px solid transparent;
}

LXQtPanel[position="Left"] #LXQtMountPlugin QToolButton:hover {
    border-right: 3px solid rgba(30, 145, 255, 50%);
}

LXQtPanel[position="Right"] #LXQtMountPlugin QToolButton {
    border-left: 3px solid transparent;
}

LXQtPanel[position="Right"] #LXQtMountPlugin QToolButton:hover {
    border-left: 3px solid rgba(30, 145, 255, 50%);
}

#LXQtMountPopup {
    background: rgba(240, 240, 240, 100%);
    color: rgba(54, 54, 54, 100%);
    padding: 4px;
}

#LXQtMountPopup > MenuDiskItem {
    color: rgba(54, 54, 54, 60%);
}

#LXQtMountPopup > MenuDiskItem:hover {}

#LXQtMountPopup #EjectButton,
#LXQtMountPopup #DiskButton {
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 4px;
    qproperty-iconSize: 22px;
}

#LXQtMountPopup #EjectButton:hover,
#LXQtMountPopup #DiskButton:hover {
    color: rgba(54, 54, 54, 100%);
    background: rgba(30, 145, 255, 30%);
    border: 1px solid rgba(30, 145, 255, 100%);
}

#LXQtMountPopup #NoDiskLabel {
    color: rgba(54, 54, 54, 60%);
    margin: 6px;
}


/*
 * ShowDesktop
 */
#ShowDesktop {
    color: rgba(54, 54, 54, 60%);
}

#ShowDesktop:hover {
    color: rgba(54, 54, 54, 100%);
}

LXQtPanel[position="Bottom"] #ShowDesktop {
	margin: 3px 2px;
}

LXQtPanel[position="Top"] #ShowDesktop {
    margin: 1px/*bug*/ 2px;
}

LXQtPanel[position="Left"] #ShowDesktop {
    margin: 2px 1px/*bug*/; 
}

LXQtPanel[position="Right"] #ShowDesktop {
    margin: 2px 3px; 
}

LXQtPanel[position="Bottom"] #ShowDesktop {
    border-top: 3px solid transparent;
}

LXQtPanel[position="Bottom"] #ShowDesktop:hover {
    border-top: 3px solid rgba(30, 145, 255, 50%);
}

LXQtPanel[position="Top"] #ShowDesktop {
    border-bottom: 3px solid transparent;
}

LXQtPanel[position="Top"] #ShowDesktop:hover {
    border-bottom: 3px solid rgba(30, 145, 255, 50%);
}

LXQtPanel[position="Left"] #ShowDesktop {
    border-right: 3px solid transparent;
}

LXQtPanel[position="Left"] #ShowDesktop:hover {
    border-right: 3px solid rgba(30, 145, 255, 50%);
}

LXQtPanel[position="Right"] #ShowDesktop {
    border-left: 3px solid transparent;
}

LXQtPanel[position="Right"] #ShowDesktop:hover {
    border-left: 3px solid rgba(30, 145, 255, 50%);
}

/*
 * KbIndicator
 */

#KbIndicator > QLabel {
	background: transparent;
    color: rgba(54, 54, 54, 60%);
    margin: 3px;
    /*padding-top: 2px;*/
}

#KbIndicator > QLabel:enabled {
    color: rgba(54, 54, 54, 100%);
}

#KbIndicator:disabled {
    color: rgba(54, 54, 54, 60%);
}

LXQtPanel[position="Bottom"] #KbIndicator > QLabel {
    border-top: 3px solid transparent;
}

LXQtPanel[position="Bottom"] #KbIndicator > QLabel:enabled {
    border-top: 3px solid rgba(30, 145, 255, 100%);
}

LXQtPanel[position="Top"] #KbIndicator > QLabel {
    border-bottom: 3px solid transparent;
}

LXQtPanel[position="Top"] #KbIndicator > QLabel:enabled {
    border-bottom: 3px solid rgba(30, 145, 255, 100%);
}

LXQtPanel[position="Left"] #KbIndicator > QLabel {
    border-right: 3px solid transparent;
}

LXQtPanel[position="Left"] #KbIndicator > QLabel:enabled {
    border-right: 3px solid rgba(30, 145, 255, 100%);
}

LXQtPanel[position="Right"] #KbIndicator > QLabel {
    border-left: 3px solid transparent;
}

LXQtPanel[position="Right"] #KbIndicator > QLabel:enabled {
    border-left: 3px solid rgba(30, 145, 255, 100%);
}

/*
 * Clock
 */
#Clock #TimeLabel {
    margin-right: 4px;
    color: rgba(54, 54, 54, 100%);
}

#Clock #DateLabel {
    color: rgba(54, 54, 54, 60%);
}


/*
 * Tray
 */
#Tray {
    min-width: 6px;
}

TrayIcon {
    margin: 2px;
}

/*
 * #SysStat
 */
#SysStat {
    padding: 1px 1px 1px 1px;
}

#SysStat > QLabel {
    font-size: 6pt;
}

#SysStat_Graph {
    qproperty-gridColor: rgba(255, 255, 255, 25%);
    qproperty-titleColor: rgba(255, 255, 255, 75%);
    qproperty-cpuSystemColor: rgb(128, 0, 0);
    qproperty-cpuUserColor: rgb(0, 0, 128);
    qproperty-cpuNiceColor: rgb(0, 128, 0);
    qproperty-cpuOtherColor: rgb(128, 128, 0);
    qproperty-frequencyColor: rgb(96, 96, 96);
    qproperty-memAppsColor: rgb(0, 0, 128);
    qproperty-memBuffersColor: rgb(0, 128, 0);
    qproperty-memCachedColor: rgb(128, 128, 0);
    qproperty-swapUsedColor: rgb(128, 0, 0);
    qproperty-netReceivedColor: rgb(0, 0, 128);
    qproperty-netTransmittedColor: rgb(128, 128, 0);
}


/*
 * WorldClock
 */
#WorldClock {
    color: rgba(54, 54, 54, 100%);
}

LXQtPanel[position="Bottom"] #WorldClock,
LXQtPanel[position="Top"] #WorldClock {
    margin: 3px 0;
}

LXQtPanel[position="Left"] #WorldClock,
LXQtPanel[position="Right"] #WorldClock {
    margin: 0 3px;
}

LXQtPanel[position="Bottom"] #WorldClock {
    border-top: 3px solid transparent;
}

LXQtPanel[position="Bottom"] #WorldClock:hover {
    border-top: 3px solid rgba(30, 145, 255, 50%);
}

LXQtPanel[position="Top"] #WorldClock {
    border-bottom: 3px solid transparent;
}

LXQtPanel[position="Top"] #WorldClock:hover {
    border-bottom: 3px solid rgba(30, 145, 255, 50%);
}

LXQtPanel[position="Left"] #WorldClock {
    border-right: 3px solid transparent;
}

LXQtPanel[position="Left"] #WorldClock:hover {
    border-right: 3px solid rgba(30, 145, 255, 50%);
}

LXQtPanel[position="Right"] #WorldClock {
    border-left: 3px solid transparent;
}

LXQtPanel[position="Right"] #WorldClock:hover {
    border-left: 3px solid rgba(30, 145, 255, 50%);
}

/*
 * CPU monitor
 */
#LXQtCpuLoad {
    qproperty-fontColor: #cacaca;
}

/*
 * Calendar Widget
 */
QCalendarWidget #qt_calendar_navigationbar,
QCalendarWidget #qt_calendar_navigationbar * {
    background: rgba(190, 190, 190, 100%);
    color: rgba(54, 54, 54, 100%);
}

QCalendarWidget QToolButton {
    margin: 3px;
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 4px;
}

QCalendarWidget QToolButton:hover {
    color: rgba(54, 54, 54, 100%);
    background: rgba(30, 145, 255, 30%);
    border: 1px solid rgba(30, 145, 255, 100%);
}

QCalendarWidget QToolButton::menu-indicator {
    image: none;
}

QCalendarWidget QSpinBox {
    background: white;
    selection-background-color: rgba(30, 145, 255, 30%);
    selection-color: rgba(54, 54, 54, 100%);
}

QCalendarWidget QTableView {
    background: rgba(240, 240, 240, 100%);
    selection-background-color: rgba(30, 145, 255, 30%);
}

QCalendarWidget #qt_calendar_nextmonth {
    max-height: 20px;
    min-height: 20px;
    qproperty-icon: url(/right-arrow.svg);
}

QCalendarWidget #qt_calendar_prevmonth {
    max-height: 20px;
    min-height: 20px;
    qproperty-icon: url(/left-arrow.svg);
}

QCalendarWidget QWidget {
    alternate-background-color: rgba(210, 210, 210, 100%);
}

QTableViewItem {
    border: 1px solid rgba(30, 145, 255, 100%);
}

/*
 * Spacer
 */
#Spacer {
    background-position: center center;
}

#Spacer[type="lined"] {
    background-image: url(/spacer-plugin/spacer-line.svg);
}

#Spacer[type="dotted"] {
    background-image: url(/spacer-plugin/spacer-dots.svg);
}

#Spacer[orientation="horizontal"] {
    background-repeat: repeat-y;
    margin-top: 2px;
    margin-bottom: 2px;
}

#Spacer[orientation="vertical"] {
    background-repeat: repeat-x;
    margin-right: 2px;
    margin-left: 2px;
}
