/*This is a port of the design proposal for Plasma Next made by the KDE Visual Design Group. Ported by Inti Alonso.*/

/*
 * General panel settings
 */

LxQtPanel #BackgroundWidget {
    background:rgba(240, 240, 240, 100%);
}

QToolTip {
    border-radius: 4px;
    border: 1px solid rgba(155, 155, 155, 100%);
    background:rgba(240, 240, 240, 100%);
    padding: 2px;
    margin: 0px;
    color: #313639;
}

/* PositionBottom */
LxQtPanel[position="Bottom"]  #BackgroundWidget {
    border-top: 1px solid rgba(155, 155, 155, 100%);
}

/* PositionTop */
LxQtPanel[position="Top"] #BackgroundWidget {
    border-bottom: 1px solid rgba(155, 155, 155, 100%);
}

/*
 * General plugins settings
 */

Plugin,
LxQtPanelPlugin {
    padding: 0;
    spacing: 20px;
    qproperty-moveMarkerColor: rgba(30, 145, 255, 50%);
}

Plugin  > QWidget,
Plugin  > QWidget > QWidget{
    color: #313639;
}

Plugin > QToolButton,
Plugin > QWidget > QToolButton,
LxQtPanelPlugin > QToolButton {
    margin: 0;
    border: 1px solid transparent;
    qproperty-iconSize: 24px;
    color: #313639;
}

QMenu {
    border: 1px solid rgba(155, 155, 155, 100%);
    background:rgba(240, 240, 240, 100%);
    margin: 0px;
}

QMenu::item {
    color: #313639;
}

QMenu::item:selected {
    background: rgba(30, 145, 255, 50%);
    color: #313639;
}

QMenu::right-arrow {
    image: url(right-arrow.svg);
}

/*
 * Main menu
 */

#MainMenu {
    color: rgba(54, 54, 54, 100%);
    margin: 3px;
    padding-top: 2px;
    border-top: 3px solid transparent;
    qproperty-icon: url(mainmenu.svg);
}

#MainMenu:hover {
    border-top: 3px solid #1E91FE;
}

/*
 * TaskBar
 */

#TaskBar {
    margin-right: 2px;
    margin-left: 2px;
    padding: 0;
}

#TaskBar QToolButton{
    margin: 3px;
    padding-top: 2px;
    border-top: 3px solid #DEDEDE;
    color: rgba(54, 54, 54, 60%);
}

#TaskBar QToolButton:on{
    border-top: 3px solid rgba(30, 145, 255, 100%);
    color: rgba(54, 54, 54, 100%);
}

#TaskBar QToolButton:hover{
    border-top: 3px solid rgba(30, 145, 255, 50%);
    color: rgba(54, 54, 54, 100%);
}

#TaskBar QToolButton[urgent="true"] {
    color: palette(highlighted-text);
    background: palette(highlight);
}

 /*
 * QuickLaunch
 */

#QuickLaunch {
    margin-left: 2px;
    margin-right: 2px;
}

#QuickLaunchPlaceHolder {
    color: rgba(30, 145, 255, 50%);
}

#QuickLaunch QToolButton{
    margin: 3px;
    padding-top: 2px;
    border-top: 3px solid transparent;
    color: rgba(54, 54, 54, 60%);
}

#QuickLaunch QToolButton:hover{
    border-top: 3px solid rgba(30, 145, 255, 50%);
    color: rgba(54, 54, 54, 100%);
}

/*
 * Volume plugin
 */

#VolumePlugin {
    margin-left: 2px;
    margin-right: 2px;
}

#VolumePlugin QToolButton {
    margin: 3px;
    padding-top: 2px;
    border-top: 3px solid transparent;
    color: rgba(54, 54, 54, 60%);
}

#VolumePlugin QToolButton:hover {
    border-top: 3px solid rgba(30, 145, 255, 50%);
}


VolumePopup {
    border: 1px solid rgba(155, 155, 155, 100%);
    background:rgba(240, 240, 240, 100%);
    padding: 4px;
}

VolumePopup  > QPushButton {
    color: rgba(54, 54, 54, 60%);
    margin: 3px;
    border-radius: 4px;
    outline: 0;
    min-width: 50px;
    qproperty-iconSize: 24px;
}

VolumePopup  > QPushButton:hover {
    color: rgba(54, 54, 54, 100%);
    background: rgba(30, 145, 255, 30%);
    border: 1px solid rgba(30, 145, 255, 100%);
}

VolumePopup  > QSlider {
    margin-top: 4px;
}

VolumePopup  > QSlider::groove:vertical {
     background: rgba(155, 155, 155, 50%);
     width: 8px;
     border-radius: 3px;
}

VolumePopup  > QSlider::handle:vertical {
    height: 10px;
    width: 10px;
    background: rgba(240, 240, 240, 100%);
    border-radius: 5px;
    border: 1px solid rgba(54, 54, 54, 100%);
    margin: 0 -4px; /* expand outside the groove */
 }

VolumePopup  > QSlider::add-page:vertical {
     background: rgba(30, 145, 255, 100%);
     border: 1px solid rgba(155, 155, 155, 100%);
     border-radius: 3px;

 }

VolumePopup  > QSlider::sub-page:vertical {
     border: 1px solid rgba(155, 155, 155, 100%);
     border-radius: 3px;
 }



/*
 * Desktopswitch
 */

#DesktopSwitch {
    margin-left: 2px;
    margin-right: 2px;
}

#DesktopSwitch QToolButton{
    margin: 3px;
    padding-top: 2px;
    border-top: 3px solid transparent;
    color: rgba(54, 54, 54, 60%);
}

#DesktopSwitch QToolButton:hover{
    border-top: 3px solid rgba(30, 145, 255, 50%);
    color: rgba(54, 54, 54, 100%);
}

#DesktopSwitch QToolButton:on{
    border-top: 3px solid rgba(30, 145, 255, 100%);
    color: rgba(54, 54, 54, 100%);
}

/*
 * Mount plugin
 */
#LxQtMountPlugin {
    margin-left: 2px;
    margin-right: 2px;
}

#LxQtMountPlugin MountButton{
    margin: 3px;
    padding-top: 2px;
    border-top: 3px solid transparent;
    color: rgba(54, 54, 54, 60%);
}

#LxQtMountPlugin MountButton:hover{
    border-top: 3px solid rgba(30, 145, 255, 50%);
    color: rgba(54, 54, 54, 100%);
}

#LxQtMountPopup {
    background:rgba(240, 240, 240, 100%);
    color: rgba(54, 54, 54, 100%);
    padding: 4px;
}

#LxQtMountPopup > MenuDiskItem {
    color: rgba(54, 54, 54, 60%);
}

#LxQtMountPopup > MenuDiskItem:hover {

}

#LxQtMountPopup #EjectButton,
#LxQtMountPopup #DiskButton {
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 4px;
    qproperty-iconSize: 22px;
}

#LxQtMountPopup #EjectButton:hover,
#LxQtMountPopup #DiskButton:hover {
    color: rgba(54, 54, 54, 100%);
    background: rgba(30, 145, 255, 30%);
    border: 1px solid rgba(30, 145, 255, 100%);
}

#LxQtMountPopup #NoDiskLabel {
    color: rgba(54, 54, 54, 60%);
    margin: 6px;
}


/*
 * Screensaver
 */

#PanelScreenSaver QWidget{
    margin: 3px;
}

#PanelScreenSaver > QToolButton{
    margin: 3px;
    padding-top: 2px;
    border-top: 3px solid transparent;
    color: rgba(54, 54, 54, 60%);
}

#PanelScreenSaver > QToolButton:hover{
    border-top: 3px solid rgba(30, 145, 255, 50%);
    color: rgba(54, 54, 54, 100%);
}

/*
 * ShowDesktop
 */

#ShowDesktop {
    margin: 3px;
    padding-top: 2px;
    border-top: 3px solid transparent;
    color: rgba(54, 54, 54, 60%);
}

#ShowDesktop:hover{
    border-top: 3px solid rgba(30, 145, 255, 50%);
    color: rgba(54, 54, 54, 100%);
}


/*
 * KbIndicator
 */

#KbIndicator {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

#KbIndicator > QLabel {
    border: 0px;
    margin: 4px 0;
    padding: 0px 3px;
}

#KbIndicator:enabled {
    background: qradialgradient(cx:0.5, cy:0.5, radius: 0.5, fx:0.5, fy:0.5, stop:0 coral, stop:1 transparent);
    color: #EEEEEE;
}

#KbIndicator:disabled {
    background: transparent;
    color: gray;
}

/*
 * Clock
 */

#Clock > QWidget{
    margin: 2px;
}

#Clock #TimeLabel{
    margin-right: 4px;
    color: rgba(54, 54, 54, 100%);
}

#Clock #DateLabel{
    color: rgba(54, 54, 54, 60%);
}


/*
 * Tray
 */

#Tray {
    min-width: 6px;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: 4px;
    margin-right: 4px;
}

TrayIcon {
    margin: 2px;
}

/*
 * #SysStat
 */

#SysStat {
    padding: 1px 1px 1px 1px;
}

#SysStat > QLabel {
    font-size: 6pt;
}

#SysStat_Graph {
    qproperty-gridColor: rgba(255, 255, 255, 25%);
    qproperty-titleColor: rgba(255, 255, 255, 75%);
    qproperty-cpuSystemColor: rgb(128, 0, 0);
    qproperty-cpuUserColor: rgb(0, 0, 128);
    qproperty-cpuNiceColor: rgb(0, 128, 0);
    qproperty-cpuOtherColor: rgb(128, 128, 0);
    qproperty-frequencyColor: rgb(96, 96, 96);
    qproperty-memAppsColor: rgb(0, 0, 128);
    qproperty-memBuffersColor: rgb(0, 128, 0);
    qproperty-memCachedColor: rgb(128, 128, 0);
    qproperty-swapUsedColor: rgb(128, 0, 0);
    qproperty-netReceivedColor: rgb(0, 0, 128);
    qproperty-netTransmittedColor: rgb(128, 128, 0);
}


/*
 * WorldClock
 */

#WorldClockContent {
    margin: 2px;
    color: rgba(54, 54, 54, 100%);
}

/*
 * CPU monitor
 */

#LxQtCpuLoad {
    qproperty-fontColor: #cacaca;
}


/*
 * Calendar Widget
 */

QCalendarWidget #qt_calendar_navigationbar,
QCalendarWidget #qt_calendar_navigationbar * {
    background:rgba(240, 240, 240, 100%);
    color: rgba(54, 54, 54, 100%);
}
QCalendarWidget QToolButton {
    margin: 3px;
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 4px;
}
QCalendarWidget QToolButton:hover {
    color: rgba(54, 54, 54, 100%);
    background: rgba(30, 145, 255, 30%);
    border: 1px solid rgba(30, 145, 255, 100%);
}
QCalendarWidget QToolButton::menu-indicator {
   image: none;
}

QCalendarWidget QSpinBox {
    background: white;
    selection-background-color: rgba(30, 145, 255, 30%);
    selection-color: rgba(54, 54, 54, 100%);
}

QCalendarWidget QTableView {
    background: rgba(240, 240, 240, 100%);
    selection-background-color:rgba(30, 145, 255, 30%);
}

QCalendarWidget #qt_calendar_nextmonth {
    max-height:20px;
    min-height:20px;
    qproperty-icon: url(/right-arrow.svg);
}

QCalendarWidget #qt_calendar_prevmonth {
    max-height:20px;
    min-height:20px;
    qproperty-icon: url(/left-arrow.svg);
}

QCalendarWidget QWidget {
    alternate-background-color: rgba(240, 240, 240, 100%);
}
QTableViewItem {
    border: 1px solid rgba(30, 145, 255, 100%);
}
