/* Configuration Center
Theming by the base Qt widget style and palette */

QToolTip {
    border: 1px solid palette(text);
    background: palette(window);
    color: palette(text);
    padding: 1px;
    margin: 0px;
    border: 1px solid palette(text);
    border-radius: 3px;
}
