/* Configuration Center
Theming by the base Qt widget style and palette */

QToolTip {
    border: 1px solid hsv(0, 0, 41);
    background: hsv(0, 0, 20);
    padding: 2px;
    margin: 0px;
    color: #DEDEDE
}
