/*
 * lxqt-sudo dialog
 */

QLabel {
   background:rgba(0, 0, 0, 75%);
}
#PasswordDialog {
   background:rgba(0, 0, 0, 75%);
}

#descriptionL,#descCommandL,#commandL,#descPasswordL {
    color: #f1f3f3;
}

#errorL {
    color:#989995
}
