/*This is a port of the design proposal for Plasma Next made by the KDE Visual Design Group. Ported by Inti Alonso.*/

/*
 * General panel settings
 */

LxQtPanel #BackgroundWidget {
    background:rgba(237, 237, 237,60%);
}

QToolTip {
    border: 1px solid hsv(0, 0, 41);
        border-radius: 3px;
    background:hsv(0, 0, 20);
    padding: 2px;
    margin: 0px;
    color: #cacaca
}

/* PositionBottom */
LxQtPanel[position="Bottom"]  #BackgroundWidget {
    border-top: 1px solid rgba(0, 0, 0, 50%);
}

/* PositionTop */
LxQtPanel[position="Top"] #BackgroundWidget {
    border-bottom: 1px solid rgba(0, 0, 0, 50%);
}

/*
 * Volume plugin
 */

VolumePopup {
     background:#EDEDED;
     border: 1px solid #D2D2D2;
     padding: 4px;
}

VolumePopup  > QLabel {
     color: hsv(0, 0, 20);
     font-size: 9pt;
     margin: 6px 2px 6px 2px;
     text-decoration: none;
}

VolumePopup  > QSlider::groove:vertical {
     background: #D2D2D2;
     width: 8px;
     border-radius: 3px;
}

VolumePopup  > QSlider::handle:vertical {
     height: 10px;
     background: #929292;
     border-radius: 5px;
     margin: 0 -4px; /* expand outside the groove */
}

VolumePopup  > QSlider::add-page:vertical {
     background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #3393D6, stop: 1 #1E91FE);
     border: 1px solid #3393D6;
     border-radius: 3px;
}

VolumePopup  > QSlider::sub-page:vertical {
     background: #D2D2D2;
     border-radius: 3px;
}


/*
 * General plugins settings
 */

Plugin,
LxQtPanelPlugin {
    margin: 0;
    padding: 0;
    spacing: 20px;
    qproperty-moveMarkerColor: #C94C21;
}

Plugin  > QWidget,
Plugin  > QWidget > QWidget{
    color: #cacaca;
}

Plugin > QToolButton,
Plugin > QWidget > QToolButton,
LxQtPanelPlugin > QToolButton {
    margin: 0;
    border: 1px solid transparent;
    qproperty-iconSize: 24px;
    color: #4F5357;
}


/*
 * Desktopswitch
 */

#DesktopSwitch QToolButton {
    margin: 1px;
    color: #cccccc;
    border: 1px solid #4a4a4a;
    background: rgba(0, 0, 0, 5%);
}

#DesktopSwitch QToolButton:on {
    background: rgba(0, 0, 0, 40%);
    border: 1px solid #4a4a4a;
}

#DesktopSwitch QToolButton:hover {
    border: 1px solid #7f7f7f;
}

/*
 * QuickLaunch
 */

#QuickLaunch {
    margin-left: 2px;
    margin-right: 2px;
}

#QuickLaunchPlaceHolder {
    color: #AAAAAA;
}

#QuickLaunch QToolButton{
     border: 0px;
     margin-left: 1px;
     margin-right: 1px;
     margin-top: 2px;
     padding: 2px;
}

#QuickLaunch QToolButton:hover{
   border-top: 3px solid #1E91FE;
}


/*
 * TaskBar
 */

#TaskBar {
     margin-right: 2px;
     margin-left: 2px;
     padding: 0;
}

#TaskBar QToolButton{
     margin-left: 2px;
     margin-right: 2px;
     margin-top: 2px;
     padding-top: 2px;
     border-top: 3px solid #B0AEAE;
}

#TaskBar QToolButton:on{
    border-top: 3px solid #1E91FE;
}

#TaskBar QToolButton:hover{
   border-top: 3px solid #FF5C1F;
}

#TaskBar QToolButton[urgent="true"] {
    color: palette(highlighted-text);
    background: palette(highlight);
}


/*
 * Clock
 */

#Clock > QWidget{
    margin-right: 2px;
}

#Clock #TimeLabel{
    margin-right: 4px;
    font-size: 10pt;
    color: #4F5357;
}

#Clock #DateLabel{
    font-size: 8pt;
    color: #4F5357;
}

#Clock QCalendarWidget #qt_calendar_navigationbar,
#Clock QCalendarWidget #qt_calendar_navigationbar * {
    background-color:hsv(0, 0, 41);
    color: #cacaca;
}


/*
 * Tray
 */

#Tray {
    min-width: 6px;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: 4px;
    margin-right: 4px;
}

TrayIcon {
    margin: 2px;
}


/*
 * Main menu
 */

#MainMenu {
    background: #1E91FE;
    color: #EDEDED;
    margin-left: 2px;
    margin-right: 2px;
    border: 1px solid #D2D2D2;
    qproperty-icon: url(mainmenu.svg);
}

#MainMenu:hover {
    border: 1px solid #D2D2D2;
    background: #196AB8;
    qproperty-icon: url(mainmenu.svg);
}

#MainMenu  QMenu {
    background-color: #EDEDED;
    border: 1px solid #D2D2D2;
    margin-left: 2px;
}

#MainMenu QMenu::item {
    color: #4F5357;
}

#MainMenu QMenu::item:selected {
    background: #1E91FE;
    color: #EDEDED;
}


/*
 * Mount plugin
 */

#LxQtMountPopup {
    background-color: hsv(0, 0, 41);
    padding: 4px;
}

#LxQtMountPopup > MenuDiskItem {
    border-radius: 4px;
}

#LxQtMountPopup > MenuDiskItem:hover {
    background: rgba(0, 0, 0, 40%);
}

#LxQtMountPopup #EjectButton,
#LxQtMountPopup #DiskButton {
    background-color: transparent;
    border: none;
    color: #EEEEEE;
    padding: 4px;
    qproperty-iconSize: 22px;
}

#LxQtMountPopup #NoDiskLabel {
    color: #CCCCCC;
    margin: 6px;
}


/*
 * Screensaver
 */

#PanelScreenSaver > QToolButton:hover {
    margin: 0;
    border: 2px solid transparent;
}

#PanelScreenSaver > QToolButton:pressed {
    margin: 2px;
    border: 2px solid transparent;
}


/*
 * ShowDesktop
 */

#ShowDesktop > QToolButton:hover {
    border: 2px solid transparent;
    margin: 0px;
}

#ShowDesktop > QToolButton:pressed {
    border: 2px solid transparent;
    margin: 2px;
}


/*
 * KbIndicator
 */

#KbIndicator {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

#KbIndicator > QLabel {
    border: 0px;
    margin: 4px 0;
    padding: 0px 3px;
}

#KbIndicator:enabled {
    background: qradialgradient(cx:0.5, cy:0.5, radius: 0.5, fx:0.5, fy:0.5, stop:0 coral, stop:1 transparent);
    color: #EEEEEE;
}

#KbIndicator:disabled {
    background: transparent;
    color: gray;
}


/*
 * #SysStat
 */

#SysStat {
    padding: 1px 1px 1px 1px;
}

#SysStat > QLabel {
    font-size: 6pt;
}

#SysStat_Graph {
    qproperty-gridColor: rgba(255, 255, 255, 25%);
    qproperty-titleColor: rgba(255, 255, 255, 75%);
    qproperty-cpuSystemColor: rgb(128, 0, 0);
    qproperty-cpuUserColor: rgb(0, 0, 128);
    qproperty-cpuNiceColor: rgb(0, 128, 0);
    qproperty-cpuOtherColor: rgb(128, 128, 0);
    qproperty-frequencyColor: rgb(96, 96, 96);
    qproperty-memAppsColor: rgb(0, 0, 128);
    qproperty-memBuffersColor: rgb(0, 128, 0);
    qproperty-memCachedColor: rgb(128, 128, 0);
    qproperty-swapUsedColor: rgb(128, 0, 0);
    qproperty-netReceivedColor: rgb(0, 0, 128);
    qproperty-netTransmittedColor: rgb(128, 128, 0);
}


/*
 * WorldClock
 */

#WorldClockContent {
    color: #cacaca;
    font-size: 10pt;
}

#WorldClockPopup > QLabel {
    color: #cacaca;
    font-size: 12pt;
}


/*
 * CPU monitor
 */

#LxQtCpuLoad {
    qproperty-fontColor: #cacaca;
}


/*
 * Volume plugin
 */

#VolumePopup {
    background:hsv(0, 0, 41);
    padding: 4px;
}
