/* Configuration Center
Theming by the base Qt widget style and palette */

QToolTip {
    border: 1px solid #2b2b29;
    background: #363532;
    padding: 2px;
    margin: 0px;
    color: #f2f1f0;
}
