/* Configuration Center
Theming by the base Qt widget style and palette */

QAbstractItemView {
    icon-size: 32px;
}

QToolTip {
    border: 1px solid rgba(10, 10, 10, 90%);
    border-top-color: rgba(50, 50, 50, 70%);
    border-left-color: rgba(40, 40, 40, 70%);
    background: rgba(20, 20, 20, 90%);
    padding: 2px;
    margin: 0px;
    color: #ffffff
}
