Notification {
	color:				#e0e0e0;
	border:				1px solid #2f2f2f;
	border-radius:			2px;
	background:			#000000;
	margin:				0px;
}

QLabel {
	color:				#e0e0e0;
}

#closeButton {
	border:				none;
	qproperty-icon:			url(lxqt-notificationd/cancel.svg);
	color:				#e0e0e0;
}

#closeButton:hover {
	border:				1px solid #5e5f68;
	border-radius:			2px;
	background:			#16162f;
	qproperty-icon:			url(lxqt-notificationd/cancel.svg);
}

#appLabel {
	font-weight:			bold;
}
